@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cardo&family=Poppins&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.site_navbar {
  z-index: 2;
}
.site_navbar i {
  display: none;
}
.site_navbar nav {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.site_navbar nav ul {
  z-index: 2;
  min-width: 70vw;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
}
.site_navbar nav ul li {
  list-style: none;
  box-sizing: border-box;
}
.site_navbar nav ul li a {
  text-decoration: none;
  transition: 0.1s;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
.site_navbar nav ul li a:hover,
.site_navbar nav ul li a:active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .site_navbar nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site_navbar nav ul {
    min-width: 70vw;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
  }
  .site_navbar nav ul li {
    list-style: none;
    box-sizing: border-box;
  }
  .site_navbar nav ul li a {
    text-decoration: none;
    transition: 0.1s;
    font-size: 0.9rem;
  }
  .site_navbar nav ul li a:hover,
  .site_navbar nav ul li a:active {
    text-decoration: underline;
  }
}
@media screen and (max-width: 576px) {
  .site_navbar {
    z-index: 99999;
  }
  .site_navbar i {
    display: block;
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
    color: #dfa878;
  }
  .site_navbar .hide {
    transform: translateX(-800px);
  }
  .site_navbar nav {
    height: 100vh;
    max-width: 80vw;
    min-width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    transition: 0.5s;
    position: fixed;
    z-index: 9;
  }
  .site_navbar nav ul {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }
  .site_navbar nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .site_navbar nav ul li a {
    text-decoration: none;
    transition: 0.1s;
    font-size: 0.7rem;
    padding: auto;
    color: black;
  }
  .site_navbar nav ul li a:hover,
  .site_navbar nav ul li a:active {
    transform: scale(0.8);
  }
}
.site_hero .container {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../img/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site_hero .container .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site_hero .container .banner .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-bottom: 2px solid white;
}
.site_hero .container .banner .logo h1 {
  font-family: "Alex Brush", cursive;
  color: aliceblue;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}
.site_hero .container .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  max-width: 70vw;
}
.site_hero .container .text h1 {
  color: white;
  font-family: "Cardo", serif;
  font-size: 2.7rem;
  letter-spacing: 0.1rem;
}
.site_hero .container .text p {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  .site_hero .container {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../../img/bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site_hero .container .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_hero .container .banner .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    border-bottom: 2px solid white;
  }
  .site_hero .container .banner .logo h1 {
    font-family: "Alex Brush", cursive;
    color: aliceblue;
    font-size: 3rem;
    letter-spacing: 0.3rem;
  }
  .site_hero .container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    max-width: 70vw;
  }
  .site_hero .container .text h1 {
    color: white;
    font-family: "Cardo", serif;
    font-size: 2.7rem;
    letter-spacing: 0.1rem;
  }
  .site_hero .container .text p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
  }
}
@media screen and (max-width: 576px) {
  .site_hero .container {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../../img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .site_hero .container .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_hero .container .banner .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    border-bottom: 2px solid white;
  }
  .site_hero .container .banner .logo img {
    max-width: 80vw;
  }
  .site_hero .container .banner .logo h1 {
    font-family: "Alex Brush", cursive;
    color: aliceblue;
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  .site_hero .container .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    max-width: 70vw;
  }
  .site_hero .container .text h1 {
    color: white;
    font-family: "Cardo", serif;
    font-size: 1.3rem;
    letter-spacing: 0rem;
  }
  .site_hero .container .text p {
    color: white;
    text-align: center;
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
  }
}
.site_medsos .container {
  position: fixed;
  right: 2vw;
  top: 30vh;
}
.site_medsos .container ul {
  width: -moz-fit-content;
  width: fit-content;
}
.site_medsos .container ul li {
  list-style: none;
  min-width: 3rem;
  min-height: 3rem;
  line-height: 3rem;
  text-align: center;
}
.site_medsos .container ul li a {
  color: rgb(100, 96, 96);
  line-height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.2s;
}
.site_medsos .container ul li a:hover,
.site_medsos .container ul li a:active {
  color: white;
}

@media screen and (max-width: 768px) {
  .site_medsos .container {
    position: fixed;
    right: 2vw;
    top: 30vh;
  }
  .site_medsos .container ul {
    width: -moz-fit-content;
    width: fit-content;
  }
  .site_medsos .container ul li {
    list-style: none;
    min-width: 3rem;
    min-height: 3rem;
    line-height: 2rem;
    text-align: center;
  }
  .site_medsos .container ul li a {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 576px) {
  .site_medsos .container {
    position: fixed;
    right: 2vw;
    top: 30vh;
  }
  .site_medsos .container ul {
    width: -moz-fit-content;
    width: fit-content;
  }
  .site_medsos .container ul li {
    list-style: none;
    min-width: 3rem;
    min-height: 3rem;
    line-height: 2rem;
    text-align: center;
  }
  .site_medsos .container ul li a {
    line-height: 2rem;
    text-align: center;
    font-size: 0.7rem;
  }
}
.site_about .container {
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  max-width: 70vw;
  overflow: hidden;
  width: 100vw;
}
.site_about .container .img {
  border-right: 2px solid black;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
}
.site_about .container .img img {
  max-width: 16rem;
}
.site_about .container .text {
  padding: 1rem;
}
.site_about .container .text h1 {
  font-family: "Alex Brush", cursive;
  font-size: 4rem;
  letter-spacing: 1px;
}
.site_about .container .text p {
  font-family: "Poppins", sans-serif;
}
.site_about .container .text .button {
  margin-top: 4rem;
}
.site_about .container .text .button a {
  text-decoration: none;
  border: 2px solid black;
  padding: 0.5rem;
  color: black;
  transition: 0.1s;
  font-family: "Roboto", sans-serif;
}
.site_about .container .text .button a:hover,
.site_about .container .text .button a:active {
  background-color: #dfa878;
  color: white;
}

@media screen and (max-width: 768px) {
  .site_about .container {
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    overflow: hidden;
    width: 100vw;
  }
  .site_about .container .img {
    border-right: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .site_about .container .img img {
    max-width: 13rem;
  }
  .site_about .container .text {
    padding: 1rem;
  }
  .site_about .container .text h1 {
    font-family: "Alex Brush", cursive;
    font-size: 3rem;
    letter-spacing: 1px;
  }
  .site_about .container .text p {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
  .site_about .container .text .button {
    margin-top: 2rem;
  }
  .site_about .container .text .button a {
    text-decoration: none;
    border: 2px solid black;
    padding: 0.5rem;
    color: black;
  }
}
@media screen and (max-width: 576px) {
  .site_about .container {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    overflow: hidden;
    width: 100vw;
  }
  .site_about .container .img {
    border-bottom: 2px solid black;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .site_about .container .img img {
    max-width: 13rem;
  }
  .site_about .container .text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_about .container .text h1 {
    font-family: "Alex Brush", cursive;
    font-size: 2.8rem;
    letter-spacing: 1px;
  }
  .site_about .container .text p {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    text-align: center;
  }
  .site_about .container .text .button {
    margin: 2rem auto;
  }
  .site_about .container .text .button a {
    text-decoration: none;
    border: 2px solid black;
    padding: 0.5rem;
    color: black;
    font-size: 0.8rem;
  }
}
.site_portofolio {
  background-image: url("../../img/portofolio.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  width: auto;
}
.site_portofolio .container {
  margin: auto;
  max-width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.site_portofolio .container .main {
  border-bottom: 2px solid white;
}
.site_portofolio .container .main .one {
  font-family: "Alex Brush", cursive;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1px;
}
.site_portofolio .container .main .two {
  font-family: "Cardo", serif;
  font-size: 3rem;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.site_portofolio .container .second {
  margin-top: 1rem;
}
.site_portofolio .container .second p {
  font-family: "Cardo", serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.site_portofolio .container .second .btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2rem auto;
}
.site_portofolio .container .second .btn a {
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  transition: 0.1s;
}
.site_portofolio .container .second .btn a:active,
.site_portofolio .container .second .btn a:hover {
  background-color: #dfa878;
  color: white;
}

@media screen and (max-width: 768px) {
  .site_portofolio {
    background-image: url("../../img/portofolio.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
  }
  .site_portofolio .container {
    margin: auto;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_portofolio .container .main {
    border-bottom: 2px solid white;
  }
  .site_portofolio .container .main .one {
    font-family: "Alex Brush", cursive;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .site_portofolio .container .main .two {
    font-family: "Cardo", serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }
  .site_portofolio .container .second {
    margin-top: 1rem;
  }
  .site_portofolio .container .second p {
    font-family: "Cardo", serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  .site_portofolio .container .second .btn {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2rem auto;
  }
  .site_portofolio .container .second .btn a {
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
  }
}
@media screen and (max-width: 576px) {
  .site_portofolio {
    background-image: url("../../img/portofolio.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    width: auto;
  }
  .site_portofolio .container {
    margin: auto;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_portofolio .container .main {
    border-bottom: 2px solid white;
  }
  .site_portofolio .container .main .one {
    font-family: "Alex Brush", cursive;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .site_portofolio .container .main .two {
    font-family: "Cardo", serif;
    font-size: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }
  .site_portofolio .container .second {
    margin-top: 1rem;
  }
  .site_portofolio .container .second p {
    font-family: "Cardo", serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
  }
  .site_portofolio .container .second .btn {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2rem auto;
  }
  .site_portofolio .container .second .btn a {
    border: 2px solid black;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    transition: 0.11s;
  }
}
.site_gallery .container {
  max-width: 80vw;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site_gallery .container .column1,
.site_gallery .container .column2,
.site_gallery .container .column3 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.site_gallery .container .column1 .item,
.site_gallery .container .column2 .item,
.site_gallery .container .column3 .item {
  margin-bottom: 1rem;
}
.site_gallery .container .column1 .item img,
.site_gallery .container .column2 .item img,
.site_gallery .container .column3 .item img {
  width: 100%;
}

.site_video1 {
  background: url("../../img/bg_video.png");
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
  padding: 2rem;
}
.site_video1 .container {
  margin: auto;
  max-width: 80vw;
  max-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site_video1 .container .head {
  border-bottom: 2px solid white;
  width: -moz-fit-content;
  width: fit-content;
}
.site_video1 .container .head h1 {
  font-family: "Cardo", serif;
  color: white;
  font-size: 3rem;
}
.site_video1 .container .text {
  margin-top: 1rem;
  width: 80%;
}
.site_video1 .container .text p {
  font-family: "Cardo", serif;
  font-size: 1.3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .site_video1 {
    background: url("../../img/bg_video.png");
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 2rem;
  }
  .site_video1 .container {
    margin: auto;
    max-width: 80vw;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_video1 .container .head {
    border-bottom: 2px solid white;
    width: -moz-fit-content;
    width: fit-content;
  }
  .site_video1 .container .head h1 {
    font-family: "Cardo", serif;
    color: white;
    font-size: 3rem;
  }
  .site_video1 .container .text {
    margin-top: 1rem;
    width: 80%;
  }
  .site_video1 .container .text p {
    font-family: "Cardo", serif;
    font-size: 1.3rem;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .site_video1 {
    background: url("../../img/bg_video.png");
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
    padding: 2rem;
  }
  .site_video1 .container {
    margin: auto;
    max-width: 80vw;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_video1 .container .head {
    border-bottom: 2px solid white;
    width: -moz-fit-content;
    width: fit-content;
  }
  .site_video1 .container .head h1 {
    font-family: "Cardo", serif;
    color: white;
    font-size: 3rem;
  }
  .site_video1 .container .text {
    margin-top: 1rem;
    width: 80%;
  }
  .site_video1 .container .text p {
    font-family: "Cardo", serif;
    font-size: 1.1rem;
    text-align: center;
  }
}
.site_video2 .container {
  max-width: 85vw;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 3rem;
}
.site_video2 .container .video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.site_video2 .container .video video {
  width: 60%;
}
.site_video2 .container .video div {
  margin: 1rem;
  width: 10%;
  border: 2px solid black;
}
.site_video2 .container .video p {
  width: 60%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.site_video2 .container .photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.site_video2 .container .photo .item {
  max-width: 30%;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.site_video2 .container .photo .item img {
  width: 100%;
}
.site_video2 .container .photo .item div {
  width: 10%;
  border: 2px solid black;
  margin: 1rem;
}
.site_video2 .container .photo .item p {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.site_video2 .container .button {
  margin-top: 2rem;
}
.site_video2 .container .button a {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  transition: 0.1s;
  font-family: "Roboto", sans-serif;
}
.site_video2 .container a:hover,
.site_video2 .container a:active {
  background-color: #dfa878;
  color: white;
}

@media screen and (max-width: 768px) {
  .site_video2 .container {
    max-width: 85vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_video2 .container .video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_video2 .container .video video {
    width: 60%;
  }
  .site_video2 .container .video div {
    margin: 1rem;
    width: 10%;
    border: 2px solid black;
  }
  .site_video2 .container .video p {
    width: 60%;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
  .site_video2 .container .photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .site_video2 .container .photo .item {
    max-width: 30%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_video2 .container .photo .item img {
    width: 100%;
  }
  .site_video2 .container .photo .item div {
    width: 10%;
    border: 2px solid black;
    margin: 1rem;
  }
  .site_video2 .container .photo .item p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
  }
  .site_video2 .container .button {
    margin-top: 2rem;
  }
  .site_video2 .container .button a {
    padding: 0.5rem 1rem;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    transition: 0.1s;
  }
  .site_video2 .container a:hover {
    background-color: #dfa878;
    color: white;
  }
}
@media screen and (max-width: 576px) {
  .site_video2 .container {
    max-width: 85vw;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site_video2 .container .video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
  }
  .site_video2 .container .video video {
    width: 100%;
  }
  .site_video2 .container .video div {
    margin: 1rem;
    width: 10%;
    border: 2px solid black;
  }
  .site_video2 .container .video p {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
  .site_video2 .container .photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .site_video2 .container .photo .item {
    max-width: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_video2 .container .photo .item img {
    width: 100%;
  }
  .site_video2 .container .photo .item div {
    width: 10%;
    border: 2px solid black;
    margin: 1rem;
  }
  .site_video2 .container .photo .item p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
  }
  .site_video2 .container .button {
    margin-top: 2rem;
  }
  .site_video2 .container .button a {
    padding: 0.5rem 1rem;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    transition: 0.1s;
  }
  .site_video2 .container a:hover {
    background-color: #dfa878;
    color: white;
  }
}
.site_testimoni .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 85vw;
  margin: 1rem auto;
}
.site_testimoni .container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.site_testimoni .container header h1 {
  font-family: "Alex Brush", cursive;
  letter-spacing: 1px;
  font-size: 4rem;
}
.site_testimoni .container header h2 {
  font-weight: lighter;
  font-family: "Cardo", serif;
  font-size: 2rem;
}
.site_testimoni .container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3rem;
}
.site_testimoni .container .card .item {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}
.site_testimoni .container .card .item img {
  width: 80%;
  transform: translateY(4.2rem);
}
.site_testimoni .container .card .item .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  border: 2px solid black;
  padding: 4rem 1rem 1rem 1rem;
}
.site_testimoni .container .card .item .text p.name {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 1rem 0;
  font-family: "Cardo", serif;
}
.site_testimoni .container .card .item .text p {
  text-align: center;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
.site_testimoni .container .button {
  margin-top: 2rem;
}
.site_testimoni .container .button a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 0.5rem 1rem;
  transition: 0.1s;
}
.site_testimoni .container .button a:hover,
.site_testimoni .container .button a:active {
  background-color: #dfa878;
  color: white;
}

@media screen and (max-width: 768px) {
  .site_testimoni .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 85vw;
    margin: 1rem auto;
  }
  .site_testimoni .container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_testimoni .container header h1 {
    font-family: "Alex Brush", cursive;
    letter-spacing: 1px;
    font-size: 4rem;
  }
  .site_testimoni .container header h2 {
    font-weight: lighter;
    font-family: "Cardo", serif;
    font-size: 1.5rem;
  }
  .site_testimoni .container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
  }
  .site_testimoni .container .card .item {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
  }
  .site_testimoni .container .card .item img {
    width: 90%;
    transform: translateY(4.2rem);
  }
  .site_testimoni .container .card .item .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
    padding: 4rem 1rem 1rem 1rem;
  }
  .site_testimoni .container .card .item .text p.name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
    font-family: "Cardo", serif;
  }
  .site_testimoni .container .card .item .text p {
    text-align: center;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
}
@media screen and (max-width: 576px) {
  .site_testimoni .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 85vw;
    margin: 1rem auto;
  }
  .site_testimoni .container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .site_testimoni .container header h1 {
    font-family: "Alex Brush", cursive;
    letter-spacing: 1px;
    font-size: 2.8rem;
  }
  .site_testimoni .container header h2 {
    font-weight: lighter;
    font-family: "Cardo", serif;
    font-size: 1.4rem;
  }
  .site_testimoni .container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    flex-wrap: wrap;
  }
  .site_testimoni .container .card .item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
  }
  .site_testimoni .container .card .item img {
    width: 80%;
    transform: translateY(4.2rem);
  }
  .site_testimoni .container .card .item .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border: 2px solid black;
    padding: 4rem 1rem 1rem 1rem;
  }
  .site_testimoni .container .card .item .text p.name {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
    font-family: "Cardo", serif;
  }
  .site_testimoni .container .card .item .text p {
    text-align: center;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
  }
}
.site_contact {
  background-image: url("../../img/bg_contact.png");
  background-position: center;
  background-size: cover;
  margin-top: 4rem;
  width: 100vw;
}
.site_contact .container {
  max-width: 85vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}
.site_contact .container header h1 {
  font-family: "Alex Brush", cursive;
  font-size: 4rem;
  text-align: center;
}
.site_contact .container header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: center;
}
.site_contact .container .main {
  display: flex;
  border-top: 2px solid black;
  margin-top: 1rem;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}
.site_contact .container .main .form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.site_contact .container .main .form form .name {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.site_contact .container .main .form form .name label {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.site_contact .container .main .form form .name input {
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto", sans-serif;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  outline: none;
  transition: 0.3s;
  margin-top: 0.5rem;
}
.site_contact .container .main .form form .name input:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.site_contact .container .main .form form .email {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.site_contact .container .main .form form .email label {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.site_contact .container .main .form form .email input {
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto", sans-serif;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  outline: none;
  transition: 0.3s;
  margin-top: 0.5rem;
}
.site_contact .container .main .form form .email input:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.site_contact .container .main .form form .subject {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.site_contact .container .main .form form .subject label {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.site_contact .container .main .form form .subject textarea {
  background-color: rgba(255, 255, 255, 0.4);
  font-family: "Roboto", sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 0.6rem;
  outline: none;
  resize: none;
  transition: 0.3s;
  border: 2px solid black;
  margin-top: 0.5rem;
}
.site_contact .container .main .form form .subject textarea:focus {
  background-color: rgba(255, 255, 255, 0.7);
}
.site_contact .container .main .form form .submit {
  margin-top: 1rem;
}
.site_contact .container .main .form form .submit input {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.1s;
  padding: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.site_contact .container .main .form form .submit input:hover {
  background-color: #dfa878;
  color: white;
}
.site_contact .container .main .img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.site_contact .container .main .img img {
  max-width: 80%;
}

@media screen and (max-width: 768px) {
  .site_contact {
    background-image: url("../../img/bg_contact.png");
    background-position: center;
    background-size: cover;
    margin-top: 4rem;
  }
  .site_contact .container {
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  .site_contact .container header h1 {
    font-family: "Alex Brush", cursive;
    font-size: 4rem;
    text-align: center;
  }
  .site_contact .container header h3 {
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    text-align: center;
  }
  .site_contact .container .main {
    display: flex;
    border-top: 2px solid black;
    margin-top: 1rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
  }
  .site_contact .container .main .form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .site_contact .container .main .form form .name {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .name label {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .site_contact .container .main .form form .name input {
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    padding: 0 0.6rem;
    outline: none;
    transition: 0.3s;
  }
  .site_contact .container .main .form form .name input:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .site_contact .container .main .form form .email {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .email label {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .site_contact .container .main .form form .email input {
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    padding: 0 0.6rem;
    outline: none;
    transition: 0.3s;
  }
  .site_contact .container .main .form form .email input:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .site_contact .container .main .form form .subject {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .subject label {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .site_contact .container .main .form form .subject textarea {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem 0.6rem;
    outline: none;
    resize: none;
    transition: 0.3s;
    border: 2px solid black;
  }
  .site_contact .container .main .form form .subject textarea:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .site_contact .container .main .form form .submit {
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .submit input {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.1s;
    padding: 0 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .site_contact .container .main .form form .submit input:hover {
    background-color: #dfa878;
    color: white;
  }
  .site_contact .container .main .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .site_contact .container .main .img img {
    max-width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .site_contact {
    background-image: url("../../img/bg_contact.png");
    background-position: center;
    background-size: cover;
    margin-top: 4rem;
  }
  .site_contact .container {
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  .site_contact .container header h1 {
    font-family: "Alex Brush", cursive;
    font-size: 3.3rem;
    text-align: center;
  }
  .site_contact .container header h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
  }
  .site_contact .container .main {
    display: flex;
    border-top: 2px solid black;
    margin-top: 1rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
  }
  .site_contact .container .main .form {
    max-width: 70vw;
  }
  .site_contact .container .main .form form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .site_contact .container .main .form form .name {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .name label {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .site_contact .container .main .form form .name input {
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    padding: 0 0.6rem;
    outline: none;
    transition: 0.3s;
  }
  .site_contact .container .main .form form .name input:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .site_contact .container .main .form form .email {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .email label {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .site_contact .container .main .form form .email input {
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    padding: 0 0.6rem;
    outline: none;
    transition: 0.3s;
  }
  .site_contact .container .main .form form .email input:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .site_contact .container .main .form form .subject {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .subject label {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .site_contact .container .main .form form .subject textarea {
    background-color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
    border-radius: 0.5rem;
    padding: 0.5rem 0.6rem;
    outline: none;
    resize: none;
    transition: 0.3s;
    border: 2px solid black;
  }
  .site_contact .container .main .form form .subject textarea:focus {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .site_contact .container .main .form form .submit {
    margin-top: 1rem;
  }
  .site_contact .container .main .form form .submit input {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.4);
    transition: 0.1s;
    padding: 0 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .site_contact .container .main .form form .submit input:hover {
    background-color: #dfa878;
    color: white;
  }
  .site_contact .container .main .img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .site_contact .container .main .img img {
    max-width: 80%;
    display: none;
  }
}
.site_footer {
  width: 100vw;
  background-image: url("../../img/footer.png");
  background-position: center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.site_footer footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  max-width: 70vw;
}
.site_footer footer .container .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site_footer footer .container .nav ul {
  display: flex;
  flex-direction: row;
}
.site_footer footer .container .nav ul li {
  list-style: none;
  margin-right: 2rem;
}
.site_footer footer .container .nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.site_footer footer .container .nav ul li a:hover,
.site_footer footer .container .nav ul li a:active {
  text-decoration: underline;
}
.site_footer footer .container .medsos {
  margin: 2rem 0;
}
.site_footer footer .container .medsos ul {
  display: flex;
  flex-direction: row;
}
.site_footer footer .container .medsos ul li {
  list-style: none;
  margin-right: 1.4rem;
}
.site_footer footer .container .medsos ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
.site_footer footer .container .medsos ul li a:hover,
.site_footer footer .container .medsos ul li a:active {
  color: white;
}
.site_footer footer .container .text {
  width: 60%;
  margin-bottom: 2rem;
}
.site_footer footer .container .text p {
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.site_footer footer .container .copyright p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.site_footer footer .container .copyright p span {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .site_footer {
    width: 100vw;
    background-image: url("../../img/footer.png");
    background-position: center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .site_footer footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 70vw;
  }
  .site_footer footer .container .nav ul {
    display: flex;
    flex-direction: row;
  }
  .site_footer footer .container .nav ul li {
    list-style: none;
    margin-right: 1rem;
  }
  .site_footer footer .container .nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
  }
  .site_footer footer .container .nav ul li a:hover,
  .site_footer footer .container .nav ul li a:active {
    text-decoration: underline;
  }
  .site_footer footer .container .medsos {
    margin: 2rem 0;
  }
  .site_footer footer .container .medsos ul {
    display: flex;
    flex-direction: row;
  }
  .site_footer footer .container .medsos ul li {
    list-style: none;
    margin-right: 1.4rem;
  }
  .site_footer footer .container .medsos ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
  }
  .site_footer footer .container .medsos ul li a:hover,
  .site_footer footer .container .medsos ul li a:active {
    color: white;
  }
  .site_footer footer .container .text {
    width: 60%;
    margin-bottom: 2rem;
  }
  .site_footer footer .container .text p {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
  }
  .site_footer footer .container .copyright p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
  }
  .site_footer footer .container .copyright p span {
    color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 576px) {
  .site_footer {
    width: 100vw;
    background-image: url("../../img/footer.png");
    background-position: center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .site_footer footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    max-width: 90vw;
  }
  .site_footer footer .container .nav {
    display: none;
  }
  .site_footer footer .container .nav ul {
    display: flex;
    flex-direction: row;
  }
  .site_footer footer .container .nav ul li {
    list-style: none;
    margin-right: 1rem;
  }
  .site_footer footer .container .nav ul li a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
  }
  .site_footer footer .container .nav ul li a:hover,
  .site_footer footer .container .nav ul li a:active {
    text-decoration: underline;
  }
  .site_footer footer .container .medsos {
    margin: 2rem 0;
  }
  .site_footer footer .container .medsos ul {
    display: flex;
    flex-direction: row;
  }
  .site_footer footer .container .medsos ul li {
    list-style: none;
    margin-right: 1.4rem;
  }
  .site_footer footer .container .medsos ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s;
  }
  .site_footer footer .container .medsos ul li a:hover,
  .site_footer footer .container .medsos ul li a:active {
    color: white;
  }
  .site_footer footer .container .text {
    width: 100%;
    margin-bottom: 2rem;
  }
  .site_footer footer .container .text p {
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.7rem;
  }
  .site_footer footer .container .copyright p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 0.5rem;
  }
  .site_footer footer .container .copyright p span {
    color: rgba(255, 255, 255, 0.5);
  }
}/*# sourceMappingURL=main.css.map */