.site_contact {
  background-image: url("../../img/bg_contact.png");
  background-position: center;
  background-size: cover;
  margin-top: 4rem;
  width: 100vw;

  .container {
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;

    header {
      h1 {
        font-family: "Alex Brush", cursive;
        font-size: 4rem;
        text-align: center;
      }

      h3 {
        font-family: "Roboto", sans-serif;
        font-size: 2.2rem;
        font-weight: 300;
        text-align: center;
      }
    }

    .main {
      display: flex;
      border-top: 2px solid black;
      margin-top: 1rem;
      padding-top: 1rem;
      justify-content: center;
      align-items: center;

      .form {
        // margin-right: 1rem;

        form {
          display: flex;
          justify-content: center;
          //   align-items: center;
          flex-direction: column;

          .name {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            label {
              font-size: 1.4rem;
              font-family: "Roboto", sans-serif;
            }

            input {
              height: 2rem;
              background-color: rgba(255, 255, 255, 0.4);
              font-family: "Roboto", sans-serif;
              border-radius: 0.5rem;
              padding: 0 0.6rem;
              outline: none;
              transition: 0.3s;
              margin-top: 0.5rem;
            }

            input:focus {
              background-color: rgba(255, 255, 255, 0.7);
            }
          }

          .email {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            label {
              font-size: 1.4rem;
              font-family: "Roboto", sans-serif;
            }

            input {
              height: 2rem;
              background-color: rgba(255, 255, 255, 0.4);
              font-family: "Roboto", sans-serif;
              border-radius: 0.5rem;
              padding: 0 0.6rem;
              outline: none;
              transition: 0.3s;
              margin-top: 0.5rem;
            }

            input:focus {
              background-color: rgba(255, 255, 255, 0.7);
            }
          }

          .subject {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            label {
              font-size: 1.4rem;
              font-family: "Roboto", sans-serif;
            }

            textarea {
              background-color: rgba(255, 255, 255, 0.4);
              font-family: "Roboto", sans-serif;
              border-radius: 0.5rem;
              padding: 0.5rem 0.6rem;
              outline: none;
              resize: none;
              transition: 0.3s;
              border: 2px solid black;
              margin-top: 0.5rem;
            }

            textarea:focus {
              background-color: rgba(255, 255, 255, 0.7);
            }
          }

          .submit {
            margin-top: 1rem;

            input {
              font-family: "Roboto", sans-serif;
              font-size: 1.3rem;
              background-color: rgba(255, 255, 255, 0.4);
              transition: 0.1s;
              padding: 0 1rem;
              border-radius: 0.5rem;
              cursor: pointer;
            }

            input:hover {
              background-color: $warnaTombol;
              color: white;
            }
          }
        }
      }

      .img {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
          max-width: 80%;
        }
      }
    }
  }
}

//? Start Responsive Tablet
@media screen and (max-width: 768px) {
  .site_contact {
    background-image: url("../../img/bg_contact.png");
    background-position: center;
    background-size: cover;
    margin-top: 4rem;

    .container {
      max-width: 85vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 0;

      header {
        h1 {
          font-family: "Alex Brush", cursive;
          font-size: 4rem;
          text-align: center;
        }

        h3 {
          font-family: "Roboto", sans-serif;
          font-size: 2.2rem;
          font-weight: 300;
          text-align: center;
        }
      }

      .main {
        display: flex;
        border-top: 2px solid black;
        margin-top: 1rem;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;

        .form {
          // margin-right: 1rem;

          form {
            display: flex;
            justify-content: center;
            //   align-items: center;
            flex-direction: column;

            .name {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              label {
                font-size: 1.2rem;
                font-family: "Roboto", sans-serif;
              }

              input {
                height: 2rem;
                background-color: rgba(255, 255, 255, 0.4);
                font-family: "Roboto", sans-serif;
                border-radius: 0.5rem;
                padding: 0 0.6rem;
                outline: none;
                transition: 0.3s;
              }

              input:focus {
                background-color: rgba(255, 255, 255, 0.7);
              }
            }

            .email {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              label {
                font-size: 1.2rem;
                font-family: "Roboto", sans-serif;
              }

              input {
                height: 2rem;
                background-color: rgba(255, 255, 255, 0.4);
                font-family: "Roboto", sans-serif;
                border-radius: 0.5rem;
                padding: 0 0.6rem;
                outline: none;
                transition: 0.3s;
              }

              input:focus {
                background-color: rgba(255, 255, 255, 0.7);
              }
            }

            .subject {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              label {
                font-size: 1.2rem;
                font-family: "Roboto", sans-serif;
              }

              textarea {
                background-color: rgba(255, 255, 255, 0.4);
                font-family: "Roboto", sans-serif;
                border-radius: 0.5rem;
                padding: 0.5rem 0.6rem;
                outline: none;
                resize: none;
                transition: 0.3s;
                border: 2px solid black;
              }

              textarea:focus {
                background-color: rgba(255, 255, 255, 0.7);
              }
            }

            .submit {
              margin-top: 1rem;

              input {
                font-family: "Roboto", sans-serif;
                font-size: 1.2rem;
                background-color: rgba(255, 255, 255, 0.4);
                transition: 0.1s;
                padding: 0 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
              }

              input:hover {
                background-color: $warnaTombol;
                color: white;
              }
            }
          }
        }

        .img {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          img {
            max-width: 80%;
          }
        }
      }
    }
  }
}
//? End Responsive Tablet

//? Start Responsive Mobile
@media screen and (max-width: 576px) {
  .site_contact {
    background-image: url("../../img/bg_contact.png");
    background-position: center;
    background-size: cover;
    margin-top: 4rem;

    .container {
      max-width: 85vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem 0;

      header {
        h1 {
          font-family: "Alex Brush", cursive;
          font-size: 3.3rem;
          text-align: center;
        }

        h3 {
          font-family: "Roboto", sans-serif;
          font-size: 1.8rem;
          font-weight: 300;
          text-align: center;
        }
      }

      .main {
        display: flex;
        border-top: 2px solid black;
        margin-top: 1rem;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;

        .form {
          max-width: 70vw;

          form {
            display: flex;
            justify-content: center;
            //   align-items: center;
            flex-direction: column;

            .name {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              label {
                font-size: 1.2rem;
                font-family: "Roboto", sans-serif;
              }

              input {
                height: 2rem;
                background-color: rgba(255, 255, 255, 0.4);
                font-family: "Roboto", sans-serif;
                border-radius: 0.5rem;
                padding: 0 0.6rem;
                outline: none;
                transition: 0.3s;
              }

              input:focus {
                background-color: rgba(255, 255, 255, 0.7);
              }
            }

            .email {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              label {
                font-size: 1.2rem;
                font-family: "Roboto", sans-serif;
              }

              input {
                height: 2rem;
                background-color: rgba(255, 255, 255, 0.4);
                font-family: "Roboto", sans-serif;
                border-radius: 0.5rem;
                padding: 0 0.6rem;
                outline: none;
                transition: 0.3s;
              }

              input:focus {
                background-color: rgba(255, 255, 255, 0.7);
              }
            }

            .subject {
              display: flex;
              flex-direction: column;
              margin-top: 1rem;

              label {
                font-size: 1.2rem;
                font-family: "Roboto", sans-serif;
              }

              textarea {
                background-color: rgba(255, 255, 255, 0.4);
                font-family: "Roboto", sans-serif;
                border-radius: 0.5rem;
                padding: 0.5rem 0.6rem;
                outline: none;
                resize: none;
                transition: 0.3s;
                border: 2px solid black;
              }

              textarea:focus {
                background-color: rgba(255, 255, 255, 0.7);
              }
            }

            .submit {
              margin-top: 1rem;

              input {
                font-family: "Roboto", sans-serif;
                font-size: 1.2rem;
                background-color: rgba(255, 255, 255, 0.4);
                transition: 0.1s;
                padding: 0 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
              }

              input:hover {
                background-color: $warnaTombol;
                color: white;
              }
            }
          }
        }

        .img {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          img {
            max-width: 80%;
            display: none;
          }
        }
      }
    }
  }
}
//? End Responsive Mobile
